img {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 50%;
    /* transform: rotate(90deg); */
    /* transform: scale(2, 2); */
    /* transform: scaleX(2); */
    /* transform: translate(100px, 200px); */
    transition: 3s;
}

img:hover {
    transform: rotateY(180deg) rotateX(180deg);
}