div {
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 12pt;
    /* : background-color 1s, font-size 0.5s, color 2s, border-radius 3s; */
    transition-duration: 2s;
    transition-timing-function: ease-in;
    /* transition-delay: 2s; */
}

div:hover{
    background-color: red;
    font-size:30pt;
    color: black;
    border-radius: 50%;
}